<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-light">
        <a class="navbar-brand" href="/Home/Index">Kenosis.net</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" onclick="toggle2()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="position:static;width:100%;">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Test">Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Others</a>
                </li>
                <li class="dropdown text-right" style=" text-align:right; margin-left:auto;" >
                    <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggle()" >
                        More
                    </a>
                    <div id="menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="right:0; left:auto;margin-top:8px; width:100px">
                        <a class="dropdown-item" href="/Home/UserAdmin">Admin</a>
                        <a class="dropdown-item" href="#">Another</a>
                        <a class="dropdown-item" href="#">Something </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
        </header>

    <script>
        var x = 0;
        function toggle2() {
            if (x == 0) {
                $("#navbarNavDropdown").slideToggle();
                x = 1;
            } else {
                $("#navbarNavDropdown").slideToggle();
                x = 0;
            }
           
        }
        function toggle() {
            
            $("#menu").toggle();
        }
        </script>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
